build/*
install/*
log/*
run_log/*
src/ros2_pyqt_turtlesim_key/*

__pycache__/
*.pyc
*.pyo
*.pyd
#  git rm -r --cached build install log run_log src/ros2_pyqt_turtlesim_key

# # 1. 强制递归清除所有 __pycache__ 文件夹的 Git 追踪
# git rm -r --cached "**/__pycache__/"

# # 2. 强制递归清除所有 .pyc 文件的 Git 追踪
# git rm -r --cached "**/*.pyc"