[Desktop Entry]
Type=Application
Exec=/bin/bash -c '/home/orangepi/Desktop/GroundStation/start.sh'
Hidden=false
NoDisplay=false
Terminal=true
Name=2023地面站快捷启动
StartupNotify=false

