[Desktop Entry]
Type=Application
Exec=/bin/bash -c '/home/focal/Desktop/2024_GroundStation/start.sh'
Hidden=false
NoDisplay=false
Terminal=true
Name=Gound站开机自启
StartupNotify=false

